.text {
    line-height: 22px;
}

.font-weight-normal {
    font-weight: var(--font-weight-normal);
}

.font-weight-bold {
    font-weight: var(--font-weight-bold);
}

.color-main {
    color: var(--font-color-main);
}

.color-secondary {
    color: var(--font-color-secondary);
}

.markdown {
    background: transparent !important;
}

.markdown * {
    color: inherit;
    font-family: inherit;
}
