.box {
    padding: var(--global-gap-1);
}

.rounded-0 {
    border-radius: 0;
}

.rounded-1 {
    border-radius: var(--rounded-1);
}

.rounded-2 {
    border-radius: var(--rounded-3);
}

.rounded-3 {
    border-radius: var(--rounded-4);
}

.border {
    border: 1px solid var(--border-palette-1);
}

/* Padding */
.padding-big {
    padding: var(--global-gap-1);
}

.padding-normal {
    padding: var(--global-gap-2);
}

.padding-small {
    padding: var(--global-gap-3);
}
.padding-xl {
    padding: var(--global-gap-4);
}

/* Background */
.background-standart {
    background: var(--dark-theme-2);
}

.background-secondary {
    background: var(--palette-9);
}

.background-opacity {
    background: var(--dark-theme-2-opacity);
}
.background-trasparent {
    background: transparent;
}
