.page {
    height: 100vh;
    display: flex;
    gap: var(--global-gap-1);
    padding: var(--global-gap-1);
}

.sidebar,
.chat_bar {
    width: 100%;
    border-radius: var(--rounded-1);
    background: var(--dark-theme-2);
}

.sidebar {
    width: 324px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.btn_group {
    display: flex;
    gap: 10px;
    margin: 20px 0 16px 0;
}

.chat_list {
    flex-grow: 1;
}

.message_list {
    flex-grow: 1;
}

.chat_bar_container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.write_chat_name {
    margin-bottom: 16px;
}
