.btn {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--rounded-1);
    cursor: pointer;
    transition: 0.2s;
}

.btn:active {
    scale: 0.9;
}

.variant-outlined {
    border: 1px solid var(--palette-4);
}

.background-variant-1 {
    background: var(--palette-3);
}

.background-variant-2 {
    background: var(--palette-3);
    box-shadow: inset 0px 1.5px 1px 0px rgba(255, 255, 255, 0.4);
}

.size-s {
    height: var(--btn-size-s);
    width: var(--btn-size-s);
}

.size-m {
    height: var(--btn-size-m);
    width: var(--btn-size-m);
}

.full_width {
    width: 100%;
}
