.chat {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.chat:hover {
    opacity: 1;
}

.disabled {
    opacity: var(--disabled-opacity);
}
